/* 多行省略号 */
.ellipise{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 六边形 */
.triangle{
    position: relative;
    width: 100px;
    height: 100px;
    background: green;
    margin: 200px;
}
.triangle::before{
    position: absolute;
    top:-50px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid green;
}
.triangle::after{
    position: absolute;
    bottom:-50px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid green;
}